DB_NAME=citas_db
DB_USER=admin
DB_PASSWORD=secretpassword123
DB_PORT_PUBLISHED=5432
APP_PORT=8080
CITA_ZONA_HORARIA=America/Mexico_City
NOTIFICACIONES_HABILITADAS=true
NOTIFICACIONES_SIMULAR_FALLO=false